/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;


p[data-fs-validation][data-fs-error] {
    @apply text-error;
}

p[data-fs-validation] {
    @apply m-0
}